## Outliers and validity

In [1]:
import pandas as pd

In [2]:
wafer_df = pd.read_csv('https://openmv.net/file/silicon-wafer-thickness.csv')
wafer_df.head()

      G1     G2     G3     G4     G5     G6     G7     G8     G9
0  0.175  0.188 -0.159  0.095  0.374 -0.238 -0.800  0.158 -0.211
1  0.102  0.075  0.141  0.180  0.138 -0.057 -0.075  0.072  0.072
2  0.607  0.711  0.879  0.765  0.592  0.187  0.431  0.345  0.187
3  0.774  0.823  0.619  0.370  0.725  0.439 -0.025 -0.259  0.496
4  0.504  0.644  0.845  0.681  0.502  0.151  0.404  0.296  0.260

In [3]:
iqr = wafer_df.quantile(0.75)-wafer_df.quantile(0.25)

In [4]:
range_df = (wafer_df-wafer_df.quantile(0.5))/iqr

In [5]:
range_df[(range_df>2).any(axis='columns')]

,G1,G2,G3,G4,G5,G6,G7,G8,G9
8,2.232430,2.009016,1.956542,1.589328,1.843890,1.544669,1.233344,0.419604,1.582851
38,12.891135,12.827049,12.832178,13.913292,11.429506,9.500865,10.305875,9.927200,9.055620
39,3.691318,3.981148,3.774387,4.081944,3.248059,3.729107,3.304890,3.846374,3.149479
61,2.010106,2.153279,1.987980,1.863745,1.858602,1.274928,1.237283,0.825451,0.955968
110,3.678457,2.841803,3.204808,3.180562,2.669391,0.518732,0.700361,0.176555,0.727694
112,2.361047,2.086066,2.363384,2.107670,1.925623,1.238040,1.766328,0.890800,1.377752
117,1.475425,1.043443,2.154415,2.582182,0.653862,1.823631,1.581227,0.857552,1.188876
120,1.791456,1.484426,2.583449,1.440686,2.085819,0.990202,1.782081,1.034107,1.822711
121,1.791456,1.484426,2.583449,1.440686,2.085819,0.990202,1.782081,1.034107,1.822711
152,2.610932,2.102459,2.387425,2.549786,2.169187,1.730259,2.241549,1.713958,1.592121
154,-0.529169,-0.538525,-0.404993,-0.331586,-0.552513,4.565994,-0.051854,-0.382918,-0.536501

In [6]:
range_df[(range_df<-2).any(axis='columns')]

,G1,G2,G3,G4,G5,G6,G7,G8,G9
54,-1.550758,-1.525410,-1.843736,-2.082897,-1.659174,-1.203458,-1.184772,-1.650903,-1.245655
56,-1.732660,-1.510656,-2.121128,-2.122916,-1.781774,-1.521614,-1.909419,-1.782746,-1.159907
59,-1.971520,-1.310656,-2.328248,-1.175798,-2.067838,-0.915274,-1.783394,-1.304672,-1.514484
64,-1.234727,-1.361475,-0.736015,-1.055741,-2.224765,-0.839193,-0.679357,-0.865578,-0.663963
65,-2.226918,-1.194262,-2.117429,-2.161029,-2.043318,-0.190202,-1.004923,-0.270565,-0.794902
102,-2.484153,-2.330328,-1.568192,-2.808957,-1.945239,-1.340634,-0.846078,-1.691029,-0.887601

In [7]:
from sklearn.ensemble import IsolationForest

In [8]:
clf = IsolationForest(random_state=0).fit(wafer_df)
wafer_df[clf.predict(wafer_df)==-1]

        G1     G2     G3     G4     G5     G6     G7     G8     G9
8    1.396  1.461  1.342  1.122  1.394  1.408  0.924  0.638  1.375
20  -0.558 -0.705 -0.526 -0.412 -0.753 -0.998 -0.270  0.598 -1.416
38   7.197  8.060  7.223  7.589  7.258  8.310  7.835  8.931  7.824
39   2.190  2.664  2.325  2.430  2.253  3.303  2.502  3.627  2.727
54  -0.663 -0.695 -0.713 -0.805 -0.749 -0.976 -0.918 -1.168 -1.066
56  -0.762 -0.686 -0.863 -0.826 -0.824 -1.252 -1.470 -1.283 -0.992
59  -0.892 -0.564 -0.975 -0.329 -0.999 -0.726 -1.374 -0.866 -1.298
61   1.275  1.549  1.359  1.266  1.403  1.174  0.927  0.992  0.834
65  -1.031 -0.493 -0.861 -0.846 -0.984 -0.097 -0.781  0.036 -0.677
102 -1.171 -1.186 -0.564 -1.186 -0.924 -1.095 -0.660 -1.203 -0.757
106 -0.659 -0.451 -0.692 -0.708 -0.595 -0.726 -1.031 -0.877 -1.080
110  2.183  1.969  2.017  1.957  1.899  0.518  0.518  0.426  0.637
112  1.466  1.508  1.562  1.394  1.444  1.142  1.330  1.049  1.198
117  0.984  0.872  1.449  1.643  0.666  1.650  1.189  1.020  1.035
120  1.156  1.141  1.681  1.044  1.542  0.927  1.342  1.174  1.582
121  1.156  1.141  1.681  1.044  1.542  0.927  1.342  1.174  1.582
152  1.602  1.518  1.575  1.626  1.593  1.569  1.692  1.767  1.383