# Case Study: Churn

In this case study we try to create an answer why customers have left our service, a telecom operator.

The case study is divided into several parts:
- Goals
- Parsing
- Preparation (cleaning)
- Processing
- Exploration
- Visualization
- Conclusion

## Goals

In this section we define questions that will be our guideline througout the case study

- Why are customers leaving us?
- Can we cluster types of customers?

We'll (try to) keep these question in mind when performing the case study.

## Parsing

we start out by importing all libraries

In [1]:
import os
import json
import pandas as pd
import numpy as np
import seaborn as sns
import scipy.stats
import matplotlib.pyplot as plt
from IPython.display import set_matplotlib_formats
%matplotlib inline
set_matplotlib_formats('svg')

/tmp/ipykernel_5355/4057771804.py:10: DeprecationWarning: `set_matplotlib_formats` is deprecated since IPython 7.23, directly use `matplotlib_inline.backend_inline.set_matplotlib_formats()`
  set_matplotlib_formats('svg')

in order to download datasets from kaggle, we need an API key to access their API, we'll make that here

In [2]:
if not os.path.exists("/root/.kaggle"):
    os.mkdir("/root/.kaggle")

with open('/root/.kaggle/kaggle.json', 'w') as f:
    json.dump(
        {
            "username":"lorenzf",
            "key":"7a44a9e99b27e796177d793a3d85b8cf"
        }
        , f)

PermissionError: [Errno 13] Permission denied: '/root/.kaggle'

now we can import kaggle too and download the datasets

In [3]:
import kaggle
kaggle.api.dataset_download_files(dataset='blastchar/telco-customer-churn', path='./data', unzip=True)

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'

the csv files are now in the './data' folder, we can now read them using pandas, here is the list of all csv files in our folder

In [4]:
os.listdir('./data')

['WA_Fn-UseC_-Telco-Customer-Churn.csv']

This dataset only contains 1 file, in it each row has all the information about a single customer and which services he or she has or had before churning.

In [5]:
churn_df = pd.read_csv('./data/WA_Fn-UseC_-Telco-Customer-Churn.csv')
print('shape: ' + str(churn_df.shape))
churn_df.head()

shape: (7043, 21)

   customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
0  7590-VHVEG  Female              0  ...          29.85        29.85     No
1  5575-GNVDE    Male              0  ...          56.95       1889.5     No
2  3668-QPYBK    Male              0  ...          53.85       108.15    Yes
3  7795-CFOCW    Male              0  ...          42.30      1840.75     No
4  9237-HQITU  Female              0  ...          70.70       151.65    Yes

[5 rows x 21 columns]

Looks like there is some personal info and the configuration of the service, such as if they had an internet service, with or without options such as security, backup,...
By the lookds of it these Yes/No answers are not booleans (i.e. 2 options) but rather categories as they have a third option, 'No ... service'.

## Preparation

here we perform tasks to prepare the data in a more pleasing format.

### Data Types

Before we do anything with our data, it is good to see if our data types are in order

In [6]:
churn_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

I am opting to change the sernior citizan from 0/1 to No/Yes and convert them all to categories, let's do that right now.

In [7]:
churn_df.SeniorCitizen = churn_df.SeniorCitizen.map({0: 'No', 1:'Yes'})
churn_df[['gender', 'SeniorCitizen', 'Partner','Dependents', 'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod', 'Churn']] = churn_df[['gender', 'SeniorCitizen', 'Partner','Dependents', 'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod', 'Churn']].astype('category')
churn_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   category
 2   SeniorCitizen     7043 non-null   category
 3   Partner           7043 non-null   category
 4   Dependents        7043 non-null   category
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   category
 7   MultipleLines     7043 non-null   category
 8   InternetService   7043 non-null   category
 9   OnlineSecurity    7043 non-null   category
 10  OnlineBackup      7043 non-null   category
 11  DeviceProtection  7043 non-null   category
 12  TechSupport       7043 non-null   category
 13  StreamingTV       7043 non-null   category
 14  StreamingMovies   7043 non-null   category
 15  Contract          7043 non-null   category
 16  PaperlessBilling  7043 non-null   category
 17  PaymentMethod     7043 non-null   category
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   category
dtypes: category(17), float64(1), int64(1), object(2)
memory usage: 338.9+ KB

Now our yes/no answers are configured as categories, for numbers we see that there are 2: 'MontlyCharges' and 'TotalCharges'.
I'm going to make them floating numbers

In [8]:
churn_df[['MonthlyCharges', 'TotalCharges']] = churn_df[['MonthlyCharges', 'TotalCharges']].astype('float')
churn_df.info()

ValueError: ignored

Looks like we have encountered some problems, there are strings in the Total charges that are not able to be converted to a decimal number.
We print out the rows that create an error and observe.

In [9]:
churn_df[pd.to_numeric(churn_df.TotalCharges,errors='coerce').isna()]

      customerID  gender SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
488   4472-LVYGI  Female            No  ...          52.55                  No
753   3115-CZMZD    Male            No  ...          20.25                  No
936   5709-LVOEQ  Female            No  ...          80.85                  No
1082  4367-NUYAO    Male            No  ...          25.75                  No
1340  1371-DWPAZ  Female            No  ...          56.05                  No
3331  7644-OMVMY    Male            No  ...          19.85                  No
3826  3213-VVOLG    Male            No  ...          25.35                  No
4380  2520-SGTTA  Female            No  ...          20.00                  No
5218  2923-ARZLG    Male            No  ...          19.70                  No
6670  4075-WKNIU  Female            No  ...          73.35                  No
6754  2775-SEFEE    Male            No  ...          61.90                  No

[11 rows x 21 columns]

Seems that there are some customers being so new they have no total charges, for convenience i'm going to change the space to a 0.

In [10]:
churn_df.TotalCharges = churn_df.TotalCharges.replace(' ', '0')

In [11]:
churn_df[['MonthlyCharges', 'TotalCharges']] = churn_df[['MonthlyCharges', 'TotalCharges']].astype('float')
churn_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   category
 2   SeniorCitizen     7043 non-null   category
 3   Partner           7043 non-null   category
 4   Dependents        7043 non-null   category
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   category
 7   MultipleLines     7043 non-null   category
 8   InternetService   7043 non-null   category
 9   OnlineSecurity    7043 non-null   category
 10  OnlineBackup      7043 non-null   category
 11  DeviceProtection  7043 non-null   category
 12  TechSupport       7043 non-null   category
 13  StreamingTV       7043 non-null   category
 14  StreamingMovies   7043 non-null   category
 15  Contract          7043 non-null   category
 16  PaperlessBilling  7043 non-null   category
 17  PaymentMethod     7043 non-null   category
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   float64
 20  Churn             7043 non-null   category
dtypes: category(17), float64(2), int64(1), object(1)
memory usage: 338.9+ KB

### Missing values

for each dataframe we apply a few checks in order to see the quality of data

In [12]:
print(100*churn_df.isna().sum()/churn_df.shape[0])

customerID          0.0
gender              0.0
SeniorCitizen       0.0
Partner             0.0
Dependents          0.0
tenure              0.0
PhoneService        0.0
MultipleLines       0.0
InternetService     0.0
OnlineSecurity      0.0
OnlineBackup        0.0
DeviceProtection    0.0
TechSupport         0.0
StreamingTV         0.0
StreamingMovies     0.0
Contract            0.0
PaperlessBilling    0.0
PaymentMethod       0.0
MonthlyCharges      0.0
TotalCharges        0.0
Churn               0.0
dtype: float64

No missing values (if we do not count the ones we solved earlier), sometimes luck is on our side.

### Duplicates

For any reason, our dataset might be containing duplicates that would be counted twice and will introduce a bias we would not want. On the other hand, duplicates can be subjected to interpretation, here we would say that if 2 records are completely the same they are duplicates.

In [13]:
churn_df.duplicated().any()

False

### Indexing

It is more convenient to work with an index, our dataset already contains an id which we can use as index

In [14]:
churn_df = churn_df.set_index('customerID')
churn_df.head()

            gender SeniorCitizen Partner  ... MonthlyCharges  TotalCharges Churn
customerID                                ...
7590-VHVEG  Female            No     Yes  ...          29.85         29.85    No
5575-GNVDE    Male            No      No  ...          56.95       1889.50    No
3668-QPYBK    Male            No      No  ...          53.85        108.15   Yes
7795-CFOCW    Male            No      No  ...          42.30       1840.75    No
9237-HQITU  Female            No      No  ...          70.70        151.65   Yes

[5 rows x 20 columns]

## Processing

### Churn vs no churn
I would like to compare between persons that have churned and others, therefore a function that calculates the counts between churn and a given column would be convenient.
By using functions I keep things dynamic without having to store a dataframe for each column, but static dataframes work equally well!

In [15]:
def count_matrix(col_name):
  return churn_df.groupby(['Churn', col_name]).size().unstack()

In [16]:
count_matrix('DeviceProtection')

DeviceProtection    No  No internet service   Yes
Churn
No                1884                 1413  1877
Yes               1211                  113   545

aside from the counts I would also like to know the mean, as some groups have a smaller population yet their proportion of churned persons might be higher.

In [17]:
def mean_matrix(col_name):
  df = churn_df.groupby(['Churn', col_name]).size().unstack()
  return df.divide(df.sum(axis='columns'),axis='index')

In [18]:
mean_matrix('DeviceProtection')

DeviceProtection        No  No internet service       Yes
Churn
No                0.364128             0.273096  0.362775
Yes               0.647940             0.060460  0.291600

out of curiosity, let's print all those 'mean matrices'

In [19]:
for col in churn_df.columns.drop('Churn'):
  print(mean_matrix(col))
  print()

gender    Female      Male
Churn
No      0.492656  0.507344
Yes     0.502408  0.497592

SeniorCitizen        No       Yes
Churn
No             0.871279  0.128721
Yes            0.745318  0.254682

Partner        No       Yes
Churn
No       0.471782  0.528218
Yes      0.642055  0.357945

Dependents        No       Yes
Churn
No          0.655199  0.344801
Yes         0.825575  0.174425

tenure        0         1         2   ...        70        71        72
Churn                                 ...
No      0.002126  0.045033  0.022227  ...  0.020874  0.031697  0.068806
Yes     0.000000  0.203317  0.065811  ...  0.005886  0.003210  0.003210

[2 rows x 73 columns]

PhoneService        No       Yes
Churn
No            0.098956  0.901044
Yes           0.090958  0.909042

MultipleLines        No  No phone service       Yes
Churn
No             0.491109          0.098956  0.409934
Yes            0.454254          0.090958  0.454789

InternetService       DSL  Fiber optic        No
Churn
No               0.379204     0.347700  0.273096
Yes              0.245586     0.693954  0.060460

OnlineSecurity        No  No internet service       Yes
Churn
No              0.393699             0.273096  0.333204
Yes             0.781701             0.060460  0.157838

OnlineBackup        No  No internet service       Yes
Churn
No            0.358523             0.273096  0.368380
Yes           0.659711             0.060460  0.279829

DeviceProtection        No  No internet service       Yes
Churn
No                0.364128             0.273096  0.362775
Yes               0.647940             0.060460  0.291600

TechSupport        No  No internet service       Yes
Churn
No           0.391767             0.273096  0.335137
Yes          0.773676             0.060460  0.165864

StreamingTV        No  No internet service       Yes
Churn
No           0.361036             0.273096  0.365868
Yes          0.504013             0.060460  0.435527

StreamingMovies        No  No internet service       Yes
Churn
No               0.356977             0.273096  0.369927
Yes              0.501873             0.060460  0.437667

Contract  Month-to-month  One year  Two year
Churn
No              0.429068  0.252609  0.318322
Yes             0.885500  0.088818  0.025682

PaperlessBilling        No       Yes
Churn
No                0.464438  0.535562
Yes               0.250936  0.749064

PaymentMethod  Bank transfer (automatic)  ...  Mailed check
Churn                                     ...
No                              0.248550  ...      0.252029
Yes                             0.138042  ...      0.164794

[2 rows x 4 columns]

MonthlyCharges    18.25     18.40     18.55   ...    118.60    118.65    118.75
Churn                                         ...
No              0.000193  0.000193  0.000193  ...  0.000387  0.000193  0.000193
Yes             0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000

[2 rows x 1585 columns]

TotalCharges   0.00      18.80     18.85    ...   8670.10   8672.45   8684.80
Churn                                       ...
No            0.002126  0.000193  0.000193  ...  0.000193  0.000193  0.000000
Yes           0.000000  0.000000  0.000535  ...  0.000000  0.000000  0.000535

[2 rows x 6531 columns]

We already see some big differences between populations of churn and no churn for some of these features, promising!

### one hot encoding
I would also like to run the data into an algorithm, yet computers don't like categories, so I 'one hot encode' the categories and get a column/feature for each category in my categorical variables.

In [20]:
churn_ohe_df = pd.concat(
    [
     pd.get_dummies(churn_df.drop(columns=['Churn'])),
     churn_df.Churn.eq('Yes').astype(int)
    ], axis='columns'
)
churn_ohe_df.head()

            tenure  MonthlyCharges  ...  PaymentMethod_Mailed check  Churn
customerID                          ...
7590-VHVEG       1           29.85  ...                           0      0
5575-GNVDE      34           56.95  ...                           1      0
3668-QPYBK       2           53.85  ...                           1      1
7795-CFOCW      45           42.30  ...                           0      0
9237-HQITU       2           70.70  ...                           0      1

[5 rows x 47 columns]

### correlation
I went ahead and already calculated the correlation matrix for this dataset, with the ohe version of the data we can figure out which categories are related.
In the next cell I printed out all correlations with the churn feature.

In [21]:
churn_corr_df = churn_ohe_df.corr()
churn_corr_df['Churn']

tenure                                    -0.352229
MonthlyCharges                             0.193356
TotalCharges                              -0.198324
gender_Female                              0.008612
gender_Male                               -0.008612
SeniorCitizen_No                          -0.150889
SeniorCitizen_Yes                          0.150889
Partner_No                                 0.150448
Partner_Yes                               -0.150448
Dependents_No                              0.164221
Dependents_Yes                            -0.164221
PhoneService_No                           -0.011942
PhoneService_Yes                           0.011942
MultipleLines_No                          -0.032569
MultipleLines_No phone service            -0.011942
MultipleLines_Yes                          0.040102
InternetService_DSL                       -0.124214
InternetService_Fiber optic                0.308020
InternetService_No                        -0.227890
OnlineSecurity_No                          0.342637
OnlineSecurity_No internet service        -0.227890
OnlineSecurity_Yes                        -0.171226
OnlineBackup_No                            0.268005
OnlineBackup_No internet service          -0.227890
OnlineBackup_Yes                          -0.082255
DeviceProtection_No                        0.252481
DeviceProtection_No internet service      -0.227890
DeviceProtection_Yes                      -0.066160
TechSupport_No                             0.337281
TechSupport_No internet service           -0.227890
TechSupport_Yes                           -0.164674
StreamingTV_No                             0.128916
StreamingTV_No internet service           -0.227890
StreamingTV_Yes                            0.063228
StreamingMovies_No                         0.130845
StreamingMovies_No internet service       -0.227890
StreamingMovies_Yes                        0.061382
Contract_Month-to-month                    0.405103
Contract_One year                         -0.177820
Contract_Two year                         -0.302253
PaperlessBilling_No                       -0.191825
PaperlessBilling_Yes                       0.191825
PaymentMethod_Bank transfer (automatic)   -0.117937
PaymentMethod_Credit card (automatic)     -0.134302
PaymentMethod_Electronic check             0.301919
PaymentMethod_Mailed check                -0.091683
Churn                                      1.000000
Name: Churn, dtype: float64

We can see that complementary categories show an inverse correlation, indicating that we are dealing with a excess of information.
Logical as when option A is not chosen, option B is.
However in this case, as some categoricals have 3 options I opt to keep all info, although it would be a good idea to remove 1 option for each category, this should become appearent in data exploration.