# Case Study: Jokes

In this case study we find out if we can make ourselves funnier by analysing jokes from a database.

The case study is divided into several parts:
- Goals
- Parsing
- Preparation (cleaning)
- Processing
- Exploration
- Visualization
- Conclusion

## Goals

In this section we define questions that will be our guideline througout the case study

- What jokes are funny?
- Can we find types of jokes?
- Would a joke recommender work?

We'll (try to) keep these question in mind when performing the case study.

## Parsing

we start out by importing all necessary libraries

In [1]:
import os
import json
import pandas as pd
import numpy as np
import seaborn as sns
import scipy.stats
import matplotlib.pyplot as plt
from IPython.display import set_matplotlib_formats
%matplotlib inline
set_matplotlib_formats('svg')

/tmp/ipykernel_8969/4057771804.py:10: DeprecationWarning: `set_matplotlib_formats` is deprecated since IPython 7.23, directly use `matplotlib_inline.backend_inline.set_matplotlib_formats()`
  set_matplotlib_formats('svg')

in order to download datasets from kaggle, we need an API key to access their API, we'll make that here

In [2]:
if not os.path.exists(os.path.expanduser('~/.kaggle')):
    os.mkdir(os.path.expanduser('~/.kaggle'))

with open(os.path.expanduser('~/.kaggle/kaggle.json'), 'w') as f:
    json.dump(
        {
            "username":"lorenzf",
            "key":"7a44a9e99b27e796177d793a3d85b8cf"
        }
        , f)

now we can import kaggle too and download the datasets

In [3]:
import kaggle
kaggle.api.dataset_download_files(dataset='pavellexyr/one-million-reddit-jokes', path='./data', unzip=True)

ModuleNotFoundError: No module named 'kaggle'

the csv files are now in the './data' folder, we can now read them using pandas, here is the list of all csv files in our folder

In [4]:
os.listdir('./data')

['WA_Fn-UseC_-Telco-Customer-Churn.csv',
 'API_NY.GDP.PCAP.CD_DS2_en_csv_v2_3358201.csv',
 'noc_regions.csv',
 'freeFormResponses.csv',
 'SurveySchema.csv',
 'jester_ratings.csv',
 'multipleChoiceResponses.csv',
 'one-million-reddit-jokes.csv',
 'jester_items.csv',
 'athlete_events.csv',
 'API_SP.POP.TOTL_DS2_en_csv_v2_3358390.csv']

With only one file in the dataset, we import it.

In [5]:
reddit_jokes_df = pd.read_csv('./data/one-million-reddit-jokes.csv')
print('shape: ' + str(reddit_jokes_df.shape))
reddit_jokes_df.head()

shape: (1000000, 12)

,type,id,subreddit.id,subreddit.name,subreddit.nsfw,created_utc,permalink,domain,url,selftext,title,score
0,post,ftbp1i,2qh72,jokes,False,1585785543,https://old.reddit.com/r/Jokes/comments/ftbp1i...,self.jokes,NaN,My corona is covered with foreskin so it is no...,I am soooo glad I'm not circumcised!,2
1,post,ftboup,2qh72,jokes,False,1585785522,https://old.reddit.com/r/Jokes/comments/ftboup...,self.jokes,NaN,It's called Google Sheets.,Did you know Google now has a platform for rec...,9
2,post,ftbopj,2qh72,jokes,False,1585785508,https://old.reddit.com/r/Jokes/comments/ftbopj...,self.jokes,NaN,The vacuum doesn't snore after sex.\n\n&amp;#x...,What is the difference between my wife and my ...,15
3,post,ftbnxh,2qh72,jokes,False,1585785428,https://old.reddit.com/r/Jokes/comments/ftbnxh...,self.jokes,NaN,[removed],My last joke for now.,9
4,post,ftbjpg,2qh72,jokes,False,1585785009,https://old.reddit.com/r/Jokes/comments/ftbjpg...,self.jokes,NaN,[removed],The Nintendo 64 turns 18 this week...,134

Already we can see a lot of unnecessary information, so cleanup is important. It seems the joke is divided in a title and selftext where often the punchline is present.

## Preparation

here we perform tasks to prepare the data in a more pleasing format.

### Cleanup

First thing I would like to do see which columns are useless, by printing the amount of unique values

In [6]:
for col in reddit_jokes_df.columns:
    print(col)
    print(reddit_jokes_df[col].nunique())
    print()

type
1

id
1000000

subreddit.id
1

subreddit.name
1

subreddit.nsfw
1

created_utc
996373

permalink
1000000

domain
364

url
4410

selftext
520567

title
861254

score
8913

a few columns only have 1 value, also the links are not important for our case, so we drop them too.

In [7]:
reddit_jokes_df = reddit_jokes_df.drop(columns=['type', 'id', 'subreddit.id', 'subreddit.name', 'subreddit.nsfw', 'permalink', 'url'])
reddit_jokes_df.head()

,created_utc,domain,selftext,title,score
0,1585785543,self.jokes,My corona is covered with foreskin so it is no...,I am soooo glad I'm not circumcised!,2
1,1585785522,self.jokes,It's called Google Sheets.,Did you know Google now has a platform for rec...,9
2,1585785508,self.jokes,The vacuum doesn't snore after sex.\n\n&amp;#x...,What is the difference between my wife and my ...,15
3,1585785428,self.jokes,[removed],My last joke for now.,9
4,1585785009,self.jokes,[removed],The Nintendo 64 turns 18 this week...,134

much cleaner already!

### Data Types

Before we do anything with our data, it is good to see if our data types are in order

In [8]:
reddit_jokes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 5 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   created_utc  1000000 non-null  int64
 1   domain       1000000 non-null  object
 2   selftext     995525 non-null   object
 3   title        1000000 non-null  object
 4   score        1000000 non-null  int64
dtypes: int64(2), object(3)
memory usage: 38.1+ MB

the created_utc feature is encoded in an unix timestamp, it would be more usefull to transform it to a timestamp

In [9]:
reddit_jokes_df['created'] = pd.to_datetime(reddit_jokes_df['created_utc'], unit='s')
del reddit_jokes_df['created_utc']
reddit_jokes_df.head()

,domain,selftext,title,score,created
0,self.jokes,My corona is covered with foreskin so it is no...,I am soooo glad I'm not circumcised!,2,2020-04-01 23:59:03
1,self.jokes,It's called Google Sheets.,Did you know Google now has a platform for rec...,9,2020-04-01 23:58:42
2,self.jokes,The vacuum doesn't snore after sex.\n\n&amp;#x...,What is the difference between my wife and my ...,15,2020-04-01 23:58:28
3,self.jokes,[removed],My last joke for now.,9,2020-04-01 23:57:08
4,self.jokes,[removed],The Nintendo 64 turns 18 this week...,134,2020-04-01 23:50:09

### Missing values

for each dataframe we apply a few checks in order to see the quality of data

In [10]:
print(100*reddit_jokes_df.isna().sum()/reddit_jokes_df.shape[0])

domain      0.0000
selftext    0.4475
title       0.0000
score       0.0000
created     0.0000
dtype: float64

it looks like some jokes are missing the selftext field, we show a few here.

In [11]:
reddit_jokes_df[reddit_jokes_df.selftext.isna()].sort_values(by='score', ascending=False)

,domain,selftext,title,score,created
625315,imgur.com,NaN,The funniest /r/jokes has ever been,67950,2017-05-20 15:41:28
971313,self.jokes,NaN,Ellen Pao's career,36918,2015-07-03 15:41:05
942471,self.jokes,NaN,"If a woman sleeps with a bunch of guys, she's ...",17486,2015-10-05 16:09:09
926550,self.jokes,NaN,One in every 2 and a half men is HIV positive.,17456,2015-11-18 04:29:54
919422,self.jokes,NaN,"Accordion to a recent survey, replacing words ...",12580,2015-12-07 18:55:27
...,...,...,...,...,...
929807,self.jokes,NaN,9gag,0,2015-11-09 03:33:22
959394,self.jokes,NaN,Like flaming globes of Sigmund,0,2015-08-14 13:40:21
929809,self.jokes,NaN,"On a scale of 10 to 10, how good am I at givin...",0,2015-11-09 03:26:55
959338,self.jokes,NaN,Who is Julius Caesar's favorite singer? Mark A...,0,2015-08-14 17:03:55
999984,self.jokes,NaN,One direction should be renamed 0.8 Direction,0,2015-03-26 19:57:54

as far as I can see here the jokes are so short they are only one sentence, so we can fill in the missing values with an empty text.

In [12]:
reddit_jokes_df.selftext = reddit_jokes_df.selftext.fillna('')

This does not mean we are done, earlier I noticed the words [removed] and [deleted] in the selftext feature, indicating the joke was removed or deleted, these are missing values!

In [13]:
reddit_jokes_df[reddit_jokes_df.selftext.isin(['[removed]', '[deleted]'])].head()

,domain,selftext,title,score,created
3,self.jokes,[removed],My last joke for now.,9,2020-04-01 23:57:08
4,self.jokes,[removed],The Nintendo 64 turns 18 this week...,134,2020-04-01 23:50:09
5,self.jokes,[removed],Sex with teacher.,1,2020-04-01 23:49:55
6,self.jokes,[removed],Another long one.,8,2020-04-01 23:44:11
8,self.jokes,[removed],A Priest takes a walk down to the docks one day,88,2020-04-01 23:39:27

I am going to remove these jokes as they are not complete anymore, it might have been that these jokes have been removed as they have already been posted.

In [14]:
reddit_jokes_df = reddit_jokes_df[~reddit_jokes_df.selftext.isin(['[removed]', '[deleted]'])]
reddit_jokes_df.shape

(578637, 5)

seems we have kept about 578k jokes, not bad!

### Duplicates

As formatting of text might be different i'm not expecting a lot of duplicates, let's see what we can find.

In [15]:
reddit_jokes_df[reddit_jokes_df.duplicated(subset=['title', 'selftext'])]

,domain,selftext,title,score,created
211,self.jokes,An academia nut..,What do you call a nut that gets good grades?,5,2020-04-01 18:54:06
4452,self.jokes,Repossssssssst,If a snake who is on reddit has to comment a r...,0,2020-03-27 09:16:20
6349,self.jokes,"“To Japan,” replies her husband. \n\n“Oh my! T...",A woman asks her husband where he’s taking the...,4,2020-03-25 00:48:09
6881,self.jokes,"Fortunately, I belong to the 1% of intelligent...",99.9% of people are idiots.,45135,2020-03-24 09:40:14
8299,self.jokes,You tell it a shitty joke.,How do you get a toilet to laugh?,0,2020-03-22 07:49:45
...,...,...,...,...,...
999779,self.jokes,Dam.,What did the fish say when he hit the wall?,25,2015-03-27 10:33:12
999851,self.jokes,He tractor down.,How did the farmer find his wife?,58,2015-03-27 02:42:29
999882,self.jokes,,women's rights,0,2015-03-27 00:48:36
999936,self.jokes,"Don't be stupid, feminists can't change anything",How many feminists does it take to change a li...,24,2015-03-26 22:00:06
999979,self.jokes,Smoke,What do you call a flying Jew?,0,2015-03-26 20:16:34

A fair amount of jokes are reposted, so we keep the ones with the highest score.

In [16]:
 reddit_jokes_df = reddit_jokes_df.sort_values('score').drop_duplicates(subset=['title', 'selftext'], keep='last').reset_index()

### Text formatting

Before we can analyze the text in the jokes we have to format it. We can do this by removing all special character and changing it all to lowercase

In [17]:
for col in ['selftext', 'title']:
    reddit_jokes_df[col] = reddit_jokes_df[col].replace(to_replace="[^a-zA-Z,.!? ]", value="", regex=True).str.lower()

reddit_jokes_df.head()

,index,domain,selftext,title,score,created
0,630580,self.jokes,"those who need closure,",there are two kinds of people in the world.,0,2017-05-12 17:01:44
1,187066,self.jokes,so when someone asks you can say its .,set your wifi password to,0,2019-05-28 00:30:46
2,437464,self.jokes,tooth hurty!,at what time do you see your dentist?,0,2018-03-28 10:17:26
3,714598,self.jokes,where did you get a phone that works in spaini...,john and juan are on lunch break when juans ph...,0,2017-01-13 02:37:59
4,187072,self.jokes,me how many am i allowed?guy only one me well ...,a guy is handing out free fake mustaches on th...,0,2019-05-28 00:20:01

Next we create a single joke by combining the title and selftext, this makes it easier to operate.

In [18]:
reddit_jokes_df['joke'] = reddit_jokes_df.title + ' ' + reddit_jokes_df.selftext
reddit_jokes_df = reddit_jokes_df.drop(columns=['title', 'selftext'])
reddit_jokes_df.head()

,index,domain,score,created,joke
0,630580,self.jokes,0,2017-05-12 17:01:44,there are two kinds of people in the world. th...
1,187066,self.jokes,0,2019-05-28 00:30:46,set your wifi password to so when someone ask...
2,437464,self.jokes,0,2018-03-28 10:17:26,at what time do you see your dentist? tooth hu...
3,714598,self.jokes,0,2017-01-13 02:37:59,john and juan are on lunch break when juans ph...
4,187072,self.jokes,0,2019-05-28 00:20:01,a guy is handing out free fake mustaches on th...

## Processing

### Timing of joke

I would like to know if the timing of the jokes makes an impact on how funny the joke is, so i grouped based on both the weekday as well as the hour of day.

In [19]:
reddit_jokes_weekday = reddit_jokes_df.groupby(reddit_jokes_df.created.dt.weekday).score.agg(['mean', 'count'])
reddit_jokes_weekday

               mean  count
created
0        226.871773  79866
1        228.808886  82940
2        222.802165  84793
3        215.771594  84932
4        222.888666  82634
5        232.752534  75089
6        241.322581  75516

In [20]:
reddit_jokes_hour = reddit_jokes_df.groupby(reddit_jokes_df.created.dt.hour).score.agg(['mean', 'count'])
reddit_jokes_hour

               mean  count
created
0        189.177767  25646
1        189.383726  25440
2        172.406772  25368
3        140.741126  23637
4        144.066960  21162
5        137.355467  19006
6        168.542319  16671
7        214.903014  15198
8        271.710558  14217
9        398.431366  14009
10       456.262600  15952
11       446.946555  18056
12       404.759640  21447
13       318.348451  24342
14       263.100078  26899
15       227.382529  28322
16       204.701879  29327
17       185.274719  29623
18       210.557595  29369
19       194.320871  29342
20       194.809965  29063
21       179.245679  29099
22       198.723083  27817
23       179.602399  26758

### Bag of words
To be able to work with the words in our joke, we create a bag of words dataframe, where for each word and joke combination a count is kept of how many times the word is present in that joke. Notice that stopwords are removed.

First we split each joke up in words

In [21]:
joke_words = reddit_jokes_df.joke.str.split(' ')
joke_words.head()

0    [there, are, two, kinds, of, people, in, the, ...
1    [set, your, wifi, password, to, , so, when, so...
2    [at, what, time, do, you, see, your, dentist?,...
3    [john, and, juan, are, on, lunch, break, when,...
4    [a, guy, is, handing, out, free, fake, mustach...
Name: joke, dtype: object

Next we use the nltk toolkit to get a list of english stopwords.

In [22]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
stopwords.words('english')[:5]

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/lorenzf/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

['i', 'me', 'my', 'myself', 'we']

We remove all the stopwords from the jokes, now the jokes have a handicapped grammar.

In [23]:
joke_words = joke_words.head().apply(lambda x : [word for word in x if word not in stopwords.words('english')])
joke_words.head()

0         [two, kinds, people, world., need, closure,]
1       [set, wifi, password, , someone, asks, say, .]
2                 [time, see, dentist?, tooth, hurty!]
3    [john, juan, lunch, break, juans, phone, rings...
4    [guy, handing, free, fake, mustaches, street, ...
Name: joke, dtype: object

Finally we are going to use sklearn and the CountVectorizer to create the BoW vector, this is a sparse matrix as most words are not appearing in most jokes.
This means we cannot visualise the matrix, or our computer would explode.

In [24]:
from sklearn.feature_extraction.text import CountVectorizer

cnt_vect = CountVectorizer(analyzer="word", stop_words=stopwords.words('english'), max_features=20000) 

bow_jokes = cnt_vect.fit_transform(reddit_jokes_df.joke.values)

In [25]:
bow_jokes

<565770x20000 sparse matrix of type '<class 'numpy.int64'>'
	with 9101120 stored elements in Compressed Sparse Row format>

But we can fetch the vocabulary of our bag, which starts with a lot of weird words, indicating we might have chosen too many features

In [26]:
cnt_vect.get_feature_names_out()[:10]

array(['aa', 'aaa', 'aaah', 'aah', 'aardvark', 'aaron', 'ab', 'aback',
       'abacus', 'abandon'], dtype=object)

### Term Frequency - Inverse Document Frequency
Another interesting method is the tf-idf matrix, where each occurence is weighted by the overall frequency of that word. If a word is used often over all jokes, it won't be as important, but if a word is used infrequent it is more important.

Again we use sklearn to vectorize our jokes

In [27]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vect = TfidfVectorizer()
tfidf_jokes = tfidf_vect.fit_transform(reddit_jokes_df.joke.values)
tfidf_jokes

<565770x196601 sparse matrix of type '<class 'numpy.float64'>'
	with 15153814 stored elements in Compressed Sparse Row format>

we can create a quick dataframe to interpret the result, for each word in our dataset we retrieve the inverse document frequency, a high idf means a unique word.

In [28]:
idf = pd.DataFrame(
    {
      'term': tfidf_vect.get_feature_names_out(),
      'idf': tfidf_vect.idf_,
    }
)
idf.head()

     term        idf
0      aa  10.026437
1     aaa  10.275653
2    aaaa  12.454185
3   aaaaa  13.147332
4  aaaaaa  13.552798

When we sort them by idf we can find the most unique words, yet it doesn't seem to be useful at the moment.

In [29]:
idf.sort_values(by='idf', ascending=False).head(10)

                                                     term        idf
196600  zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzthe  13.552798
110080                                misterunderstanding  13.552798
110074                                       misterectomy  13.552798
110075                                         misterious  13.552798
110076                                       misterjmyers  13.552798
110077                                          misterlee  13.552798
110078                                        misterogyny  13.552798
110079                                            misters  13.552798
110081                                   misterunderstood  13.552798
110072                                  misterapproximate  13.552798

## Exploration

In [30]:
good_jokes = reddit_jokes_df[reddit_jokes_df.score>10000].copy()
good_jokes

,index,domain,score,created,joke
562291,766392,self.jokes,10003,2016-11-05 12:19:21,a joke my grandma told me before she passed. s...
562292,817060,self.jokes,10013,2016-08-15 23:23:22,"if a woman sleeps with men shes a slut, but i..."
562293,956485,self.jokes,10017,2015-08-23 14:31:29,how many germans does it take to change a ligh...
562294,672977,self.jokes,10018,2017-03-12 10:30:11,a man and his wife are awakened at oclock in ...
562295,207962,self.jokes,10019,2019-04-24 23:06:14,my least favorite color is purple. i hate it m...
...,...,...,...,...,...
565765,329338,self.jokes,98257,2018-10-08 13:53:47,a new navy recruit has his first day on the su...
565766,141894,self.jokes,103652,2019-08-10 15:03:25,if your surprised that jeffrey epstein commite...
565767,596220,self.jokes,106412,2017-07-05 18:01:05,v vedit seems like the ctrl key on my keyboard...
565768,511072,self.jokes,136359,2017-11-21 20:15:27,calm down about the net neutrality thing... pa...
565769,29360,self.jokes,142733,2020-02-20 01:51:00,sad news the founder of rjokes has passed away...

In [31]:
good_jokes_word_cnt = pd.concat(
    [
        pd.Series(cnt_vect.get_feature_names_out()),
        pd.Series(np.asarray(bow_jokes[good_jokes.index].sum(axis=0)).squeeze()),
    ], axis='columns', keys=['word', 'count']
)
good_jokes_word_cnt

             word  count
0              aa      1
1             aaa      3
2            aaah      0
3             aah      0
4        aardvark      0
...           ...    ...
19995        zoos      0
19996          zs      0
19997    zucchini      0
19998  zuckerberg      1
19999        zwei      1

[20000 rows x 2 columns]

In [32]:
good_jokes_word_cnt.sort_values('count', ascending=False).head(20)

        word  count
15199   says   1647
10528    man   1405
15050   said   1196
12100    one   1057
8673      im    833
7278     get    717
19559   wife    669
10101   like    656
5190    dont    632
19416   well    626
1211    back    626
953     asks    607
947    asked    586
19762  would    564
9692    know    562
7779     guy    518
7388      go    492
4463     day    481
19689  woman    479
7473     got    461

In [33]:
for joke in good_jokes[good_jokes.joke.str.contains(' man ')].tail(5).joke:
    print(joke)
    print()

a man in an interrogation room says im not saying a word without my lawyer present. cop you are the lawyer. lawyer exactly, so wheres my present?

christmas joke nsfw a  year old male walks into a drug store. he says ive been invited to christmas dinner at my new girlfriends house. afterwards i hope there is a chance i get lucky, you know what i mean clerk how about condoms then? they could come in handy. heres a pack. the young man after paying walks to the door, stops, smiles, comes back you know what, the mom is also smoking hot, i think ill take another pack, just in case i get extra lucky.christmas eve comes around, the boy sits at the dinner table and doesnt say a word. after a while his girlfriend says if i had known you were so quiet, i wouldnt have invited you. the young man replies if you had told me your dad works at a drug store, i wouldnt have come.

my favorite joke everyone knows dave dave was bragging to his boss one day, you know, i know everyone there is to know. just name someone, anyone, and i know them.tired of his boasting, his boss called his bluff, ok, dave, how about tom cruise?no dramas boss, tom and i are old friends, and i can prove it.so dave and his boss fly out to hollywood and knock on tom cruises door, and tom cruise shouts, dave! whats happening? great to see you! come on in for a beer!although impressed, daves boss is still skeptical. after they leave cruises house, he tells dave that he thinks him knowing cruise was just lucky.no, no, just name anyone else, dave says.president obama, his boss quickly retorts.yup, dave says, old buddies, lets fly out to washington, and off they go. at the white house, obama spots dave on the tour and motions him and his boss over, saying, dave, what a surprise, i was just on my way to a meeting, but you and your friend come on in and lets have a beer first and catch up.well, the boss is very shaken by now but still not totally convinced.after they leave the white house grounds he expresses his doubts to dave, who again implores him to name anyone else.pope francis, his boss replies.sure! says dave. ive known the pope for years. so off they fly to rome.dave and his boss are assembled with the masses at the vaticans st. peters square when dave says, this will never work. i cant catch the popes eye among all these people. tell you what, i know all the guards so let me just go upstairs and ill come out on the balcony with the pope.he disappears into the crowd headed towards the vatican.sure enough, half an hour later dave emerges with the pope on the balcony, but by the time dave returns, he finds that his boss has had a heart attack and is surrounded by paramedics.making his way to his boss side, dave asks him, what happened?his boss looks up and says, it was the final straw... you and the pope came out on to the balcony and the man next to me said, who the fuck is that on the balcony with dave?

by legalizing cannabis and samesex marriage we finally interpreted the bible correctly a man who lays with another man should be stoned. leviticus  esv edit a typo edit thanks for the gold humorous stranger!

a man walks into a bar... the bartender asks why the long face? the man replies i just found out my wife is sleeping with another man. ive decided im going to drink myself to death. the bartender looks shocked and says im sorry i cant help you kill yourself. the man asks well what would you do in my situation?the bartender puffs himself up a bit and says if i found out a guy was sleeping with my wife i wouldnt sit around feeling sorry for myself, id kill the guy.the man jumps up from his stool and shouts thats a great idea! thanks! and runs out of the bar.a couple hours goes by and the bartender is starting to get nervous when the man walks back into the bar with a smile on his face.did you kill the guy? the bartender asks nervously.nope! i slept with your wife. whiskey please.

In [34]:
good_jokes_word_idf = pd.concat(
    [
        pd.Series(tfidf_vect.get_feature_names_out()),
        pd.Series(np.asarray(tfidf_jokes[good_jokes.index].sum(axis=0)).squeeze()),
    ], axis='columns', keys=['word', 'count']
)
good_jokes_word_idf

                                                     word     count
0                                                      aa  0.218800
1                                                     aaa  0.337332
2                                                    aaaa  0.000000
3                                                   aaaaa  0.000000
4                                                  aaaaaa  0.000000
...                                                   ...       ...
196596                                  zzzzzzzzzzzzzzzzz  0.000000
196597                             zzzzzzzzzzzzzzzzzzzzzz  0.000000
196598                   zzzzzzzzzzzzzzzzzzzzzzzzzzzzzthe  0.000000
196599        zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzthe  0.000000
196600  zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzthe  0.000000

[196601 rows x 2 columns]

In [35]:
good_jokes_word_idf[~good_jokes_word_idf.word.isin(stopwords.words('english'))].sort_values('count', ascending=False).head(20)

          word      count
147669    said  67.537998
149360    says  64.319957
103769     man  57.291711
85108       im  51.772732
190313    wife  51.119043
121680     one  50.363516
99600     like  44.929305
69195      get  43.785308
53561     edit  41.610126
50077     dont  41.495084
11555    asked  39.825113
95238     know  34.931383
192780   would  33.093493
71679      got  32.481152
188359    well  31.715616
74211      guy  31.570352
14528     back  30.231193
153190     sex  28.914655
191722   woman  28.747487
128249  people  28.045112

In [36]:
tfidf_good_vect = TfidfVectorizer()
tfidf_good_jokes = tfidf_good_vect.fit_transform(good_jokes.joke.values)
tfidf_good_jokes

<3479x13866 sparse matrix of type '<class 'numpy.float64'>'
	with 158145 stored elements in Compressed Sparse Row format>

In [37]:
good_jokes_word_idf = pd.concat(
    [
        pd.Series(tfidf_good_vect.get_feature_names_out()),
        pd.Series(np.asarray(tfidf_good_jokes.sum(axis=0)).squeeze()),
    ], axis='columns', keys=['word', 'count']
)
good_jokes_word_idf

             word     count
0              aa  0.217575
1             aaa  0.387436
2           aaaah  0.085922
3       aaarrrghh  0.316697
4          aaaway  0.318949
...           ...       ...
13861    zoobooks  0.237976
13862   zookeeper  0.409659
13863    zoophile  0.203000
13864  zuckerberg  0.352931
13865        zwei  0.142169

[13866 rows x 2 columns]

In [38]:
good_jokes_word_idf[~good_jokes_word_idf.word.isin(stopwords.words('english'))].sort_values('count', ascending=False).head(20)

         word      count
10299    said  61.751454
10407    says  60.323491
7268      man  58.135122
8314      one  49.662388
6025       im  49.230105
13533    wife  47.633648
6978     like  45.431302
5084      get  43.641674
3600     dont  40.811579
717     asked  36.849412
6697     know  34.773909
5422      guy  32.166281
5227      got  31.952154
13694   would  31.815714
13404    well  29.399329
8758   people  29.100171
3846     edit  29.063515
10666     sex  28.859416
918      back  28.349291
3092      day  28.040213

In [39]:
from sklearn.cluster import KMeans

In [40]:
kmeans = KMeans(n_clusters=100)
kmeans.fit(tfidf_good_jokes)

KMeans(n_clusters=100)

In [41]:
good_jokes['label'] = kmeans.labels_

In [42]:
good_jokes.head()

,index,domain,score,created,joke,label
562291,766392,self.jokes,10003,2016-11-05 12:19:21,a joke my grandma told me before she passed. s...,10
562292,817060,self.jokes,10013,2016-08-15 23:23:22,"if a woman sleeps with men shes a slut, but i...",35
562293,956485,self.jokes,10017,2015-08-23 14:31:29,how many germans does it take to change a ligh...,30
562294,672977,self.jokes,10018,2017-03-12 10:30:11,a man and his wife are awakened at oclock in ...,19
562295,207962,self.jokes,10019,2019-04-24 23:06:14,my least favorite color is purple. i hate it m...,73

In [43]:
jokes_cluster_counts = good_jokes.label.value_counts()
jokes_cluster_counts

22    356
19    312
5     211
10    166
65     95
     ...
33      8
71      8
55      7
13      7
27      6
Name: label, Length: 100, dtype: int64

In [44]:
for joke in good_jokes[good_jokes.label==jokes_cluster_counts.index[0]].sort_values('score', ascending=False).joke.head():
    print(joke)
    print()

calm down about the net neutrality thing... paying additional money to access certain sites will give you a sense of pride and accomplishment.

why was the antivaxxers  year old child crying? midlife crisis

all countries eventually got coronavirus but china got it right off the bat.

as an aussie, americans are always asking me where in australia there isnt something trying to kill you... school is my answer

a feminist told me about the dwayne johnson rule. the rule, as she explained it, was that in order to determine if a particular comment was appropriate to say to a woman, first ask yourself, would i be comfortable saying this to dwayne johnson? if not, dont say it.i thought this sounded like a good rule. so i told heryour chest is fucking epic.

In [45]:
for joke in good_jokes[good_jokes.label==jokes_cluster_counts.index[-1]].sort_values('score', ascending=False).joke.head():
    print(joke)
    print()

i take viagra for my sun burn... it doesnt cure it, but it keeps the sheets off my legs when i sleep.ampxb

what rhymes with orange no it doesnt

im taking viagra for my sunburn. it doesnt cure it, but it keeps the sheets off of my legs

ive been taking viagra for my sunburn doesnt cure it, but it keeps the sheets off my legs at night.

im taking viagra for my sunburn it doesnt cure it, but it keeps the sheets off my legs

In [46]:
kaggle.api.dataset_download_files(dataset='vikashrajluhaniwal/jester-17m-jokes-ratings-dataset', path='./data', unzip=True)

In [47]:
jester_jokes_df = pd.read_csv('./data/jester_items.csv')
print('shape: ' + str(jester_jokes_df.shape))
jester_jokes_df.head()

shape: (150, 2)

   jokeId                                           jokeText
0       1  A man visits the doctor. The doctor says "I ha...
1       2  This couple had an excellent relationship goin...
2       3  Q. What's 200 feet long and has 4 teeth? \n\nA...
3       4  Q. What's the difference between a man and a t...
4       5  Q.\tWhat's O. J. Simpson's Internet address? \...

In [48]:
jester_ratings_df = pd.read_csv('./data/jester_ratings.csv')
print('shape: ' + str(jester_ratings_df.shape))
jester_ratings_df.head()

shape: (1761439, 3)

   userId  jokeId  rating
0       1       5   0.219
1       1       7  -9.281
2       1       8  -9.281
3       1      13  -6.781
4       1      15   0.875

In [49]:
jester_ratings_df.groupby('jokeId').rating.mean()

jokeId
5     -1.756331
7     -1.809230
8     -0.672010
13    -0.590224
15    -1.377098
         ...
146    0.178280
147    1.783395
148    3.061760
149    2.399796
150    2.810758
Name: rating, Length: 140, dtype: float64

In [50]:
jester_sorted = jester_ratings_df.groupby('jokeId').rating.mean().to_frame().join(jester_jokes_df).sort_values('rating', ascending=False)
jester_sorted.head()

          rating  jokeId                                           jokeText
jokeId
53      3.714381    54.0  The Pope dies and, naturally, goes to heaven. ...
105     3.711223   106.0  An engineer dies and reports to the pearly gat...
89      3.606506    90.0  Q: How many programmers does it take to change...
129     3.583496   130.0  An old man goes to the doctor for his yearly p...
35      3.560305    36.0  A guy walks into a bar, orders a beer and says...

In [51]:
for joke in jester_sorted.head().jokeText:
    print(joke)
    print('---')

The Pope dies and, naturally, goes to heaven. He's met by the reception
committee, and after a whirlwind tour he is told that he can enjoy any
of the myriad of recreations available.
He decides that he wants to read all of the ancient original text of the
Holy Scriptures, so he spends the next eon or so learning languages.
After becoming a linguistic master, he sits down in the library and
begins to pour over every version of the Bible, working back from most
recent "Easy Reading" to the original script.
All of a sudden there is a scream in the library. The Angels come
running in only to find the Pope huddled in his chair, crying to himself
and muttering, "An 'R'! The scribes left out the 'R'."
A particularly concerned Angel takes him aside, offering comfort, asks
him what the problem is and what does he mean.
After collecting his
wits, the Pope sobs again, "It's the letter 'R'. They left out the 'R'.
The word was supposed to be CELEBRATE!"

---
An engineer dies and reports to the pearly gates. St. Peter checks his dossier and says, "Ah, you''re an engineer--you're in the wrong place." So, the engineer reports to the gates of hell and is let in. Pretty soon, the engineer gets dissatisfied with the level of comfort in hell, and starts designing and building improvements. After awhile, they've got air conditioning, flush toilets and escalators, and the engineer is a pretty popular guy. One day, God calls Satan up on the telephone and says with a sneer, "So, how's it going down there in hell?" Satan replies, "Hey, things are going great. We've got air conditioning, flush toilets and escalators, and there's no telling what this engineer is going to come up with next." God replies, "What?? You've got an engineer? That's a mistake--he should never have gotten down there; send him up here." Satan says, "No way." I like having an engineer on the staff, and I'm keeping him." God says, "Send him back up here or I'll sue." Satan laughs uproariously and answers, "Yeah, right. And just where are YOU going to get a lawyer?"
---
Q: How many programmers does it take to change a lightbulb?

A: NONE!   That's a hardware problem....

---
An old man goes to the doctor for his yearly physical, his wife tagging along. When the doctor enters the examination room, he tells the old man, "I need a urine sample, a stool sample and a sperm sample." The old man, being hard of hearing, looks at his wife and yells: "WHAT? What did he say? What's he want?" His wife yells back, "He needs your underwear."
---
A guy walks into a bar, orders a beer and says to the bartender,
"Hey, I got this great Polish Joke..."

The barkeep glares at him and says in a warning tone of voice:
"Before you go telling that joke you better know that I'm Polish, both
bouncers are Polish and so are most of my customers"

"Okay" says the customer,"I'll tell it very slowly."

---

In [52]:
jester_ratings_pivot_df = jester_ratings_df.pivot(index='userId', columns='jokeId', values='rating')
jester_ratings_pivot_df.head()

jokeId,5,7,8,13,15,16,17,18,19,20,...,141,142,143,144,145,146,147,148,149,150
userId,,,,,,,,,,,,,,,,,,,,,
1,0.219,-9.281,-9.281,-6.781,0.875,-9.656,-9.031,-7.469,-8.719,-9.156,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-9.688,9.938,9.531,9.938,0.406,3.719,9.656,-2.688,-9.562,-9.125,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,-9.844,-9.844,-7.219,-2.031,-9.938,-9.969,-9.875,-9.812,-9.781,-6.844,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,-5.812,-4.500,-4.906,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6.906,4.750,-5.906,-0.406,-4.031,3.875,6.219,5.656,6.094,5.406,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
kmeans = KMeans(n_clusters=100)
kmeans.fit(jester_ratings_pivot_df.fillna(0))

KMeans(n_clusters=100)

In [54]:
user_clusters = pd.Series(kmeans.labels_, index=jester_ratings_pivot_df.index)
user_clusters

userId
1        18
2        42
3        64
4        37
5        15
         ..
63974    68
63975    56
63976    98
63977    85
63978    14
Length: 59132, dtype: int32

In [55]:
user_cluster_counts = user_clusters.value_counts()
user_cluster_counts

35    3806
98    2301
81    1884
37    1672
78    1655
      ...
26      47
4       45
31       1
62       1
97       1
Length: 100, dtype: int64

In [56]:
users_set = set(user_clusters[user_clusters==user_cluster_counts.index[0]].index)
print(users_set)

{8193, 16389, 7, 24583, 57354, 16395, 32779, 57356, 24592, 57363, 32791, 24601, 16414, 24606, 32801, 49185, 8232, 16425, 24618, 43, 24619, 24621, 49193, 41012, 24631, 58, 24634, 8252, 24638, 24642, 16453, 24647, 49223, 8265, 57421, 49230, 49233, 82, 24659, 24660, 49235, 24663, 24664, 57431, 24666, 32861, 41057, 24678, 57448, 32873, 24683, 116, 16501, 41080, 24700, 125, 16510, 32894, 32895, 8321, 24705, 32898, 8324, 8328, 24714, 16523, 49294, 49295, 24720, 41104, 49297, 49300, 32917, 41109, 57496, 8347, 32923, 41115, 32926, 49309, 8352, 49312, 24746, 32938, 24749, 24750, 32945, 8370, 24756, 49335, 57527, 41149, 57537, 41156, 24778, 24780, 41168, 8406, 49367, 41176, 57559, 49371, 41188, 41189, 57572, 41194, 33007, 24823, 24825, 41211, 49408, 33029, 262, 49416, 33034, 41227, 57613, 16656, 57619, 16660, 16661, 8470, 33045, 24856, 33049, 49428, 283, 49434, 57629, 24865, 8482, 41251, 16676, 49448, 24877, 41264, 8499, 16691, 311, 49467, 16701, 24895, 8515, 324, 49475, 41288, 8524, 41296, 49488, 33110, 49503, 24935, 41320, 24937, 57704, 8555, 364, 24939, 24941, 24943, 57714, 33142, 24951, 24954, 49530, 382, 57729, 24963, 16773, 16777, 41354, 57745, 57747, 8601, 24986, 33178, 33190, 16807, 57766, 427, 33201, 16818, 8628, 33206, 25017, 41401, 57790, 8640, 49601, 8645, 33221, 49606, 41417, 465, 8657, 16849, 49619, 41431, 16856, 33242, 49627, 479, 41443, 57827, 16870, 33258, 16878, 8689, 41458, 8691, 16884, 8693, 49651, 57847, 49659, 33278, 33281, 8708, 25093, 33284, 41478, 49671, 25097, 49672, 57861, 49677, 16910, 8719, 25103, 33294, 33295, 25107, 8724, 16916, 41491, 25111, 41494, 537, 540, 25117, 41500, 57889, 57892, 57893, 556, 25132, 8761, 41529, 25148, 33341, 25154, 582, 25158, 41544, 33354, 41549, 16976, 33361, 594, 8787, 8788, 33364, 49749, 8796, 41565, 25182, 16992, 16996, 615, 8809, 8813, 25198, 33390, 41584, 626, 632, 633, 49787, 25223, 41610, 41611, 49803, 17038, 656, 25236, 661, 49814, 33439, 17057, 675, 17062, 681, 688, 8881, 17075, 25275, 49852, 17089, 8900, 33477, 711, 712, 8905, 33481, 17099, 33482, 25294, 17103, 17104, 17105, 58065, 17107, 25305, 17114, 49882, 58073, 33503, 17121, 58084, 33509, 25320, 746, 8941, 41712, 25330, 8950, 58103, 761, 25340, 25341, 25342, 33536, 41729, 41731, 41732, 49923, 25350, 49926, 49928, 33548, 49934, 17168, 8980, 789, 17179, 25372, 8989, 17182, 25374, 25376, 41760, 41762, 41763, 49950, 805, 33574, 17192, 41782, 17210, 17212, 58174, 58175, 9028, 17220, 17222, 17223, 841, 9033, 25417, 41804, 25422, 50000, 33617, 17234, 33620, 17239, 50009, 17242, 41819, 33629, 9054, 50014, 41824, 17251, 33639, 17256, 9065, 9066, 58215, 41840, 25458, 888, 25464, 890, 891, 25466, 33656, 58238, 25472, 25473, 33664, 33667, 25478, 25479, 41863, 58249, 9098, 9099, 25483, 33674, 9103, 41875, 25493, 41877, 9112, 17305, 25502, 17311, 17312, 25503, 25504, 25505, 33696, 41893, 58273, 25512, 50090, 943, 17327, 17329, 25519, 25523, 17332, 25527, 17345, 17346, 17347, 41925, 33734, 33735, 58315, 9164, 17362, 17363, 58325, 41942, 17367, 41945, 41946, 25567, 25568, 9185, 50143, 17379, 25571, 50145, 41967, 33776, 33781, 17398, 17399, 9208, 9209, 58360, 25595, 33787, 17405, 25599, 58367, 9218, 41986, 41987, 17415, 33799, 17419, 1037, 9229, 25615, 17424, 25617, 42000, 25623, 1048, 25625, 33815, 42007, 1054, 42014, 33827, 17448, 42029, 25648, 33840, 58418, 17460, 33846, 17466, 9276, 25660, 9287, 25674, 1102, 17486, 17487, 50256, 50260, 1109, 33880, 17497, 25690, 17499, 50268, 9309, 1119, 33888, 50272, 58467, 33896, 9322, 50282, 42093, 42094, 33903, 25712, 50288, 58479, 50291, 58482, 9336, 50297, 42106, 42113, 50305, 9348, 17541, 25737, 9354, 58508, 9360, 25744, 42130, 25747, 17556, 25755, 25761, 17573, 33958, 42153, 25770, 25772, 17581, 25773, 17583, 25776, 33969, 25778, 17587, 33971, 25783, 17592, 42173, 17598, 58564, 17607, 9416, 50379, 34005, 34007, 42200, 58587, 58592, 25825, 42215, 58599, 42217, 58600, 42219, 58602, 1261, 9454, 42221, 34032, 50417, 34036, 42230, 42231, 34042, 9467, 50426, 17663, 17666, 58627, 42246, 34056, 9481, 34058, 17675, 42250, 50441, 58633, 42255, 34065, 50452, 34069, 25878, 50455, 17689, 25881, 50457, 50458, 34081, 9506, 9507, 25894, 9512, 58664, 25898, 1328, 25904, 9526, 50487, 34108, 25921, 9540, 50500, 58698, 25931, 42319, 25937, 9555, 1364, 25939, 17750, 42323, 50518, 9564, 25949, 17759, 25951, 50527, 34146, 34147, 50531, 58723, 17768, 50536, 17771, 42349, 17774, 17776, 1394, 17779, 50550, 25975, 58746, 17787, 42364, 17789, 42369, 17798, 50570, 1421, 1422, 1423, 9615, 25997, 42386, 1431, 17816, 34204, 50589, 34207, 26018, 1443, 17827, 34212, 58786, 58789, 26025, 9646, 42415, 26042, 34234, 9660, 34236, 42426, 26047, 26053, 42439, 17864, 17865, 1482, 26062, 17872, 34256, 42450, 26070, 42456, 58846, 17887, 17888, 26079, 34272, 9699, 26083, 42466, 42472, 58857, 34282, 58858, 26092, 26093, 58862, 26097, 17908, 26100, 26102, 58874, 26110, 34305, 26116, 9733, 50694, 58886, 17928, 26121, 34315, 17932, 17933, 58898, 26132, 17941, 26134, 34326, 50708, 50709, 9755, 58910, 26144, 17953, 58918, 50727, 17960, 58927, 34361, 34363, 50750, 17983, 50752, 9795, 58950, 50762, 17995, 1613, 1617, 26193, 26194, 58968, 26202, 18012, 18013, 58976, 26210, 18024, 42603, 9836, 34412, 26222, 42604, 58991, 34417, 42610, 1651, 18035, 26231, 1657, 42624, 42625, 18050, 26242, 26247, 1677, 26253, 42640, 26257, 59027, 42645, 26262, 34455, 9880, 18073, 26266, 59032, 1693, 18082, 34467, 50853, 59045, 26279, 18088, 50855, 42666, 59050, 34478, 18097, 18099, 50873, 50876, 9918, 50880, 18115, 26308, 59077, 42695, 9928, 34504, 59081, 34508, 26317, 34509, 26319, 26323, 34516, 26325, 50902, 18137, 18138, 26332, 59100, 18144, 59104, 9954, 9958, 9961, 9962, 59115, 34540, 50925, 18158, 26351, 18161, 57341, 18167, 59131, 50940, 1789, 18175, 18176, 26368, 26369, 34562, 50943, 50944, 42762, 34571, 26380, 26381, 50958, 1809, 1810, 18195, 26389, 50965, 10008, 18201, 59161, 26396, 10014, 34591, 18208, 42785, 50974, 10022, 34602, 26411, 10028, 59186, 18229, 26421, 1849, 18234, 18235, 34621, 51008, 10050, 10053, 34630, 42823, 34634, 42830, 26447, 18256, 26449, 1880, 26457, 34648, 26464, 18278, 26471, 42857, 34666, 18283, 51051, 51052, 51054, 18289, 18290, 26485, 10102, 26486, 51061, 18297, 1914, 26491, 18300, 10109, 42875, 18303, 26495, 26497, 51073, 18313, 18315, 34699, 51083, 10128, 34704, 59282, 59284, 51093, 34714, 51106, 18341, 18346, 10155, 34730, 51118, 18356, 34741, 51127, 34744, 42937, 51129, 26555, 34747, 18367, 10178, 42947, 34757, 26566, 26567, 18380, 51151, 42964, 10199, 10202, 26587, 42971, 26591, 34785, 42977, 10215, 10217, 26601, 34798, 26609, 2035, 18420, 10229, 18423, 26616, 26617, 34809, 43003, 10237, 51199, 26625, 43011, 59402, 43021, 51214, 18448, 18449, 59414, 18455, 26647, 10267, 10269, 10271, 26656, 10275, 59427, 43045, 18472, 59432, 34862, 10288, 2098, 2099, 59442, 34869, 10294, 34870, 2104, 59443, 10300, 26684, 34878, 51266, 43076, 2117, 51269, 59464, 43081, 51274, 43086, 18511, 43091, 18516, 2133, 2134, 26710, 34903, 59485, 26720, 34913, 26723, 51300, 59491, 2150, 26726, 26728, 43115, 10348, 2159, 59507, 43125, 34936, 18553, 18555, 18556, 34939, 34940, 51326, 18561, 26754, 59522, 2183, 51341, 43150, 2193, 43155, 51351, 10394, 34975, 18592, 34977, 26786, 51362, 10405, 18598, 43176, 10414, 2224, 10425, 26811, 10428, 26820, 2249, 18640, 35029, 18647, 10456, 26841, 59613, 35044, 18661, 10470, 10475, 18671, 26865, 35058, 51441, 26868, 2296, 35066, 43260, 10496, 18689, 35072, 10499, 43265, 35077, 51457, 18695, 26888, 18697, 35079, 59650, 43276, 59661, 43278, 35088, 51472, 35090, 51473, 18708, 18709, 18710, 43285, 51474, 51481, 35099, 35100, 26909, 26912, 59687, 35112, 43307, 18733, 26926, 18735, 26927, 26929, 35122, 43315, 51504, 26933, 18742, 18743, 26935, 51508, 51513, 59704, 26940, 59706, 59710, 59712, 26946, 26950, 59719, 26953, 2378, 26958, 10578, 59732, 35165, 18782, 59742, 10593, 35171, 35172, 51557, 26984, 10610, 2421, 10614, 43386, 27005, 27006, 51587, 18821, 43399, 27016, 18825, 51591, 2445, 27022, 43406, 35216, 51601, 18834, 27027, 10645, 35223, 51607, 2457, 59799, 2459, 51614, 27043, 10664, 43435, 51627, 27053, 59821, 18866, 27058, 51635, 18869, 10678, 59830, 27065, 18881, 43458, 59842, 35271, 18890, 59851, 18893, 27085, 43470, 27088, 18897, 27089, 43478, 51670, 18904, 51672, 10715, 27101, 51679, 10720, 51681, 51683, 10724, 10725, 27110, 51687, 27116, 27118, 35311, 27120, 51697, 2547, 18931, 18933, 35317, 10747, 27133, 27134, 18943, 27135, 59906, 35331, 43525, 10759, 18955, 59922, 51737, 43546, 43547, 27165, 18974, 35358, 27168, 43553, 18978, 51742, 51748, 59943, 59946, 27180, 18996, 51765, 59957, 27193, 27195, 51771, 27197, 51773, 59965, 27200, 10822, 19015, 35407, 43602, 10835, 35411, 19029, 51799, 59996, 43621, 27238, 19047, 19049, 35434, 43626, 60011, 51821, 35438, 10863, 19055, 19057, 51825, 60016, 35447, 51832, 60023, 43654, 43655, 35467, 27276, 10895, 27280, 43663, 60048, 10899, 60053, 2710, 10910, 43681, 2723, 10919, 10922, 19115, 43694, 43700, 19125, 27318, 60088, 19129, 43705, 51898, 2752, 27328, 10949, 51910, 60103, 10961, 43730, 35539, 43733, 27351, 27352, 35546, 60123, 2780, 51934, 51938, 2788, 43748, 27367, 27368, 10986, 2795, 10988, 27371, 27375, 10994, 27378, 35574, 51958, 19192, 27384, 43770, 2812, 60157, 11006, 35584, 35587, 2821, 51973, 35591, 27400, 19209, 27402, 60176, 35602, 60181, 35607, 35613, 51998, 27429, 60199, 52008, 2859, 27435, 52011, 43822, 52013, 60206, 27442, 52018, 60213, 27447, 27448, 52024, 2874, 43836, 27453, 27457, 52035, 19270, 19275, 19276, 27468, 35659, 43853, 19280, 27473, 52053, 60245, 52055, 2906, 52059, 27484, 27487, 2913, 27489, 11111, 60264, 19309, 43885, 27508, 19317, 11126, 52087, 11134, 43905, 19330, 19331, 11142, 35721, 60299, 11148, 60300, 60305, 43926, 11159, 43928, 19354, 27547, 35738, 35741, 52122, 52126, 52128, 43938, 27555, 52134, 60327, 11178, 52140, 27572, 52151, 19384, 27578, 27580, 11197, 11200, 27588, 35782, 3016, 27592, 27594, 60361, 11214, 27598, 27599, 11219, 43990, 3031, 60375, 27609, 60379, 27612, 11229, 11230, 27613, 52194, 11235, 3044, 27621, 44003, 52195, 3051, 35819, 11247, 44017, 11250, 44019, 19452, 60418, 3086, 3087, 27663, 19473, 44046, 60433, 60435, 19477, 27669, 11288, 35864, 35866, 27675, 44056, 44057, 3102, 35870, 44061, 35873, 44064, 27683, 52258, 27687, 19498, 3116, 60460, 60461, 60463, 11313, 44084, 11319, 44087, 60473, 19514, 60478, 11327, 60479, 35907, 52291, 27717, 35910, 35914, 27723, 60490, 27726, 11343, 11344, 44112, 52305, 3162, 44126, 44128, 44129, 3173, 44142, 35951, 27760, 3185, 52344, 27772, 19581, 60543, 35969, 27780, 44164, 3207, 11401, 11402, 3211, 11405, 35982, 27793, 60561, 60570, 11419, 44193, 36002, 19622, 19623, 19624, 44200, 44203, 44205, 3247, 27832, 3259, 19643, 19660, 36046, 36048, 19665, 44243, 44247, 44259, 27876, 11493, 19685, 36070, 27881, 60649, 27887, 11504, 3316, 27894, 60667, 3327, 60671, 52481, 19716, 27908, 44293, 27913, 27918, 19733, 27926, 36117, 11544, 27928, 11555, 52515, 11557, 11562, 36140, 44334, 27952, 19761, 27954, 60726, 11576, 36154, 44346, 44347, 52540, 44353, 3394, 36164, 19782, 27974, 36168, 19785, 44361, 44363, 52551, 27981, 36174, 60744, 44371, 44376, 11609, 44380, 36189, 11616, 11617, 60768, 28007, 11630, 44404, 60789, 28023, 19834, 60795, 52604, 19838, 11647, 28033, 28035, 52612, 28037, 36229, 36234, 36236, 52620, 19855, 3472, 28047, 28050, 3475, 28051, 36240, 28054, 36245, 28056, 52629, 36250, 52630, 60826, 11679, 28063, 11681, 19875, 44452, 52644, 44455, 19881, 36267, 28077, 11694, 28079, 11696, 11697, 44465, 52656, 3508, 11700, 44472, 60861, 19913, 36299, 44493, 60878, 28111, 36303, 36304, 44495, 44496, 52688, 28117, 60886, 44504, 44505, 19931, 3548, 28125, 11742, 36317, 11747, 44517, 36329, 28140, 28142, 3567, 28144, 44529, 11762, 28147, 28148, 44533, 11766, 28151, 52719, 11770, 52730, 44541, 3585, 44545, 44546, 60930, 11783, 36360, 28177, 44561, 60946, 11797, 3606, 28183, 36373, 11801, 28186, 36377, 44571, 36384, 36385, 60963, 11813, 28197, 11817, 20012, 36396, 44588, 28207, 52781, 3635, 36404, 36405, 44597, 44599, 60980, 3641, 28219, 36412, 28224, 52803, 28228, 20038, 36424, 44616, 52809, 61001, 28236, 20045, 36429, 20051, 28244, 44628, 52822, 36440, 44633, 36445, 11871, 28255, 20065, 36452, 11881, 11883, 28274, 61043, 11893, 44662, 52855, 44666, 61053, 3710, 20095, 52863, 52864, 20103, 44679, 61066, 61069, 20111, 3736, 28313, 28315, 11935, 61089, 44706, 11942, 3756, 28335, 20144, 52913, 11954, 3765, 20155, 52923, 44734, 3775, 20160, 20161, 44738, 61120, 28357, 28358, 28359, 36550, 11977, 52936, 36555, 20172, 20173, 28364, 44754, 11987, 20181, 20182, 20183, 3799, 11991, 28375, 20187, 36569, 36570, 61143, 36576, 36577, 44772, 28389, 20199, 61161, 28394, 3823, 20207, 12017, 36591, 12019, 28403, 44783, 44788, 12023, 12025, 12027, 3836, 20220, 36604, 28415, 44800, 61182, 52999, 44808, 44810, 20235, 12044, 20237, 53002, 20239, 12050, 53012, 3866, 36638, 3872, 44834, 28453, 36649, 53037, 53038, 61233, 20275, 28468, 20278, 44855, 3897, 44857, 12100, 3909, 20294, 36676, 53062, 28490, 36683, 3916, 20303, 36689, 61266, 61270, 3934, 28515, 12134, 53100, 61294, 3954, 36723, 28532, 61303, 36728, 20350, 20352, 12161, 28544, 36738, 44932, 61317, 3983, 28561, 12178, 3988, 28565, 36758, 53140, 12186, 28571, 53148, 53153, 36770, 28582, 44967, 44968, 20393, 61354, 53163, 28589, 61357, 12210, 28600, 61369, 20412, 4029, 12221, 28604, 12224, 36802, 61379, 53188, 61380, 20425, 28620, 28624, 12241, 20434, 53205, 61397, 12249, 20446, 20447, 45023, 36834, 20452, 45029, 20458, 53232, 20468, 36852, 61428, 28664, 36857, 20474, 45048, 61433, 28669, 36862, 45055, 4098, 61442, 61443, 4104, 4105, 45065, 20494, 20495, 61454, 45077, 12312, 36889, 20507, 45085, 4126, 36897, 45094, 12332, 53299, 20532, 53302, 12343, 45112, 53305, 36923, 45117, 20544, 4163, 28742, 45128, 4170, 20555, 28746, 45133, 61519, 45145, 4197, 28774, 12391, 12402, 28787, 53365, 36982, 61561, 4221, 12415, 20608, 12420, 20616, 28808, 37002, 45193, 37004, 45195, 53384, 20623, 28817, 4250, 12442, 61594, 4260, 45222, 12456, 45224, 37035, 12461, 37037, 53421, 45232, 53427, 4276, 45240, 20668, 4285, 53437, 12480, 4289, 28864, 45250, 45253, 28872, 37065, 45257, 4301, 28878, 28879, 37070, 28881, 53459, 37076, 28889, 53466, 45275, 61660, 28893, 20702, 4322, 12514, 53476, 53478, 53480, 37098, 53482, 53486, 37104, 20721, 37105, 4339, 12532, 28915, 45301, 4343, 4344, 53489, 53499, 61691, 4350, 61697, 45314, 45316, 61702, 12557, 37133, 12561, 28945, 45329, 45330, 28951, 53528, 20763, 45342, 12576, 28963, 61734, 28968, 53546, 12588, 61743, 28976, 53556, 53557, 45368, 61755, 45377, 20802, 45378, 4422, 61767, 45385, 61773, 61779, 20820, 37204, 4439, 29015, 29016, 53591, 45404, 57871, 20836, 45414, 61798, 53608, 61802, 37228, 4461, 45421, 61804, 61808, 45425, 45426, 45429, 61819, 20860, 61821, 20863, 45439, 61823, 12674, 53635, 45450, 20876, 29068, 53644, 45456, 53650, 61842, 12695, 53656, 12697, 61847, 20891, 61849, 20893, 53661, 12705, 29090, 45480, 12713, 12714, 61864, 53676, 4525, 29102, 37294, 45485, 29111, 4537, 45501, 29118, 61885, 45505, 45509, 37320, 29135, 37329, 53713, 20947, 29142, 12762, 37348, 20969, 37355, 53739, 37360, 4594, 12790, 20983, 12811, 4626, 61974, 61976, 53786, 4639, 12832, 29216, 37410, 4643, 37411, 45599, 53794, 37420, 12845, 61999, 37424, 4657, 37426, 53811, 21044, 45620, 21046, 12855, 21048, 45621, 29242, 12859, 62015, 29248, 21057, 12866, 53824, 29259, 4688, 12881, 29266, 29267, 29270, 53847, 21080, 4698, 62043, 21087, 4705, 21090, 37474, 53860, 62052, 62053, 4713, 37485, 37486, 4719, 37488, 29300, 62073, 45693, 62077, 21128, 12937, 53900, 53903, 37521, 4754, 37522, 29333, 12953, 12954, 62105, 4764, 29340, 62110, 45727, 29347, 21156, 37545, 45741, 45749, 53941, 4791, 29370, 62140, 45761, 21187, 4804, 37571, 37578, 45770, 21196, 21202, 37592, 62168, 45788, 21213, 37601, 62177, 13028, 21220, 37608, 62185, 21229, 37618, 54002, 62195, 29434, 13052, 4862, 4867, 54022, 62221, 29454, 45840, 21265, 45842, 45843, 21271, 37656, 37658, 21277, 29469, 21279, 37661, 29473, 62237, 62245, 45862, 13096, 29483, 29486, 21297, 21302, 4920, 29496, 13114, 29497, 21308, 54074, 21310, 62271, 29507, 37703, 54090, 13131, 62282, 21326, 21331, 21332, 45907, 4950, 54103, 54107, 62300, 37725, 4958, 13150, 45919, 21352, 62314, 21357, 62324, 29557, 37755, 62334, 45951, 4992, 21376, 45952, 21379, 21382, 62346, 62347, 13200, 37777, 21394, 13203, 62358, 54167, 54168, 21404, 37789, 29598, 45981, 62364, 37793, 21413, 13223, 37800, 5034, 13228, 45996, 29614, 21428, 29620, 13240, 29629, 5055, 21440, 13250, 21442, 21446, 54219, 29644, 46030, 62418, 62422, 13271, 29656, 13273, 21465, 13275, 37852, 5092, 29670, 62440, 21481, 21482, 21483, 54250, 21486, 21488, 13298, 54261, 13307, 21499, 46075, 5119, 13312, 54275, 46084, 37893, 46085, 21511, 21514, 46098, 37908, 46101, 21528, 21529, 21530, 46108, 62493, 62496, 13345, 37921, 21542, 62507, 29740, 29742, 5167, 21552, 13368, 21565, 13374, 21566, 13376, 29758, 46142, 46144, 21573, 5191, 13383, 29770, 37964, 21581, 5199, 54353, 29780, 62550, 29785, 62555, 54367, 21600, 54377, 21611, 13423, 21615, 38002, 62578, 21621, 46202, 29821, 54398, 21635, 21636, 21637, 5254, 62596, 62598, 38026, 13451, 62606, 29839, 21649, 54418, 46227, 62609, 54422, 21657, 21658, 5275, 21664, 46241, 62625, 54436, 62629, 54438, 62630, 29864, 38058, 21675, 13484, 21677, 29870, 13488, 38067, 62643, 29877, 21686, 29881, 62654, 62659, 13513, 13514, 29899, 29901, 56418, 62672, 5330, 54482, 46292, 13528, 13532, 13533, 13534, 38111, 54492, 29923, 46307, 54505, 21741, 46319, 13554, 29941, 54517, 5369, 62714, 38140, 62717, 29951, 46338, 62723, 21765, 21767, 38152, 38153, 21770, 21773, 21774, 29969, 21778, 13588, 21784, 29977, 46361, 5403, 21790, 21792, 21797, 46373, 21799, 62757, 5417, 62758, 62759, 62763, 21805, 21806, 54574, 21809, 21811, 21812, 46390, 21815, 38200, 30009, 46392, 46396, 21821, 62780, 46400, 21827, 38211, 21829, 38214, 5447, 13641, 62793, 62794, 62798, 5459, 38227, 21846, 21847, 21848, 30038, 38240, 21857, 30049, 5486, 5492, 13686, 62841, 38266, 46461, 30078, 21888, 30081, 13698, 30086, 38279, 13704, 21900, 54668, 21904, 13714, 13718, 13721, 30106, 38301, 46494, 54687, 62882, 21925, 5542, 62887, 5546, 54700, 38322, 21940, 62902, 46525, 21953, 38344, 46538, 38348, 30158, 54735, 21969, 38355, 5589, 46549, 46557, 5598, 21982, 54749, 62947, 21988, 21989, 13799, 30186, 38379, 22000, 13809, 62962, 22007, 54775, 62970, 62974, 22017, 62980, 30214, 30215, 13832, 30218, 30227, 38424, 5658, 22042, 22043, 30237, 22047, 30240, 13858, 13863, 54823, 46636, 54829, 22064, 13873, 38449, 30259, 46641, 54832, 30262, 38455, 54837, 54844, 54850, 30276, 30279, 13898, 63053, 46670, 63059, 5717, 22101, 46679, 46687, 13924, 54884, 38508, 22127, 22129, 22132, 30324, 22134, 54901, 13947, 13951, 38529, 54917, 30342, 30343, 54920, 38539, 22156, 5773, 30351, 38544, 5777, 5783, 22172, 5789, 5790, 22173, 5792, 30367, 22178, 54943, 63140, 22182, 30374, 22184, 30376, 46766, 22192, 30384, 5811, 5814, 22199, 14009, 22201, 30394, 46778, 30407, 5834, 63181, 54990, 22228, 22230, 63192, 5849, 46810, 14043, 5852, 5853, 14047, 5856, 5858, 46818, 38634, 46827, 14060, 46828, 46830, 5871, 55018, 22258, 30450, 46840, 14074, 46848, 22273, 30469, 63240, 14090, 46861, 38670, 5903, 22288, 38673, 38676, 22293, 38679, 46871, 14109, 22301, 22305, 38689, 63268, 30502, 30503, 22312, 38696, 38698, 63275, 5932, 30508, 55089, 22325, 55093, 38711, 46904, 63290, 38716, 30529, 30535, 38729, 55117, 30542, 5968, 14161, 38736, 22355, 38740, 55124, 5976, 38744, 22362, 55129, 5981, 46945, 46946, 30565, 30566, 55143, 30572, 5997, 30574, 38767, 6000, 46958, 30578, 63349, 30583, 30586, 6013, 14207, 46976, 55170, 22404, 30597, 55174, 22408, 22410, 14220, 6029, 22412, 22414, 63376, 6041, 63387, 6046, 30626, 6051, 30627, 38819, 47012, 55205, 30632, 55206, 6058, 14250, 22443, 30637, 38829, 47021, 47023, 47025, 55210, 63405, 30645, 55222, 22455, 63417, 47037, 38846, 6079, 22468, 6085, 30661, 22473, 6091, 30669, 63438, 30671, 6096, 22480, 55251, 6100, 30676, 63445, 6103, 22496, 22497, 47073, 30693, 30697, 552

In [57]:
jester_group_sorted = jester_ratings_df[jester_ratings_df.userId.isin(users_set)].groupby('jokeId').rating.mean().to_frame().join(jester_jokes_df).sort_values('rating', ascending=False)
jester_group_sorted.head()

          rating  jokeId                                           jokeText
jokeId
53      1.457240    54.0  The Pope dies and, naturally, goes to heaven. ...
114     1.289011   115.0  A lady bought a new Lexus. It cost a bundle. T...
50      1.147600    51.0  Did you hear that Clinton has announced there ...
126     1.140983   127.0  A little boy goes to his dad and asks, "What i...
89      1.136812    90.0  Q: How many programmers does it take to change...

In [58]:
users_set = set(user_clusters[user_clusters==user_cluster_counts.index[-5]].index)
jester_group_sorted = jester_ratings_df[jester_ratings_df.userId.isin(users_set)].groupby('jokeId').rating.mean().to_frame().join(jester_jokes_df).sort_values('rating', ascending=False)
jester_group_sorted.head()

          rating  jokeId                                           jokeText
jokeId
80      9.469000    81.0  An Asian man goes into a New York CityBank to ...
73      8.937500    74.0  Q: How many stalkers does it take to change a ...
116     7.938000   117.0  A man joins a big corporate empire as a traine...
106     7.290574   107.0  (A) The Japanese eat very little fat and suffe...
63      7.135891    64.0  What is the rallying cry of the International ...

In [59]:
kmeans.inertia_

30322545.978758477

In [60]:
kmeans = KMeans(n_clusters=200)
kmeans.fit(jester_ratings_pivot_df.fillna(0))

KMeans(n_clusters=200)

In [61]:
kmeans.inertia_

28653640.838373728

In [62]:
user_clusters = pd.Series(kmeans.labels_, index=jester_ratings_pivot_df.index)
user_clusters.value_counts()

43     3134
110    2009
7      1161
1      1059
118    1038
       ...
116       1
115       1
80        1
158       1
125       1
Length: 200, dtype: int64

In [63]:
users_set = set(user_clusters[user_clusters==49].index)
jester_group_sorted = jester_ratings_df[jester_ratings_df.userId.isin(users_set)].groupby('jokeId').rating.mean().to_frame().join(jester_jokes_df).sort_values('rating', ascending=False)
jester_group_sorted.head()

          rating  jokeId                                           jokeText
jokeId
27      4.927000    28.0  A mechanical, electrical and a software engine...
116     4.562000   117.0  A man joins a big corporate empire as a traine...
8       1.609726     9.0  A country guy goes into a city bar that has a ...
50      1.509039    51.0  Did you hear that Clinton has announced there ...
53      1.463231    54.0  The Pope dies and, naturally, goes to heaven. ...

In [64]:
elbow_dict = {}
for k in [5, 10, 50, 100, 200, 500]:
    print(k)
    elbow_dict[k] = {}
    kmeans = KMeans(n_clusters=k)
    kmeans.fit(jester_ratings_pivot_df.fillna(0))
    
    elbow_dict[k]['kmeans'] = kmeans
    elbow_dict[k]['inertia'] = kmeans.inertia_
    elbow_dict[k]['user_cluster'] = pd.Series(kmeans.labels_, index=jester_ratings_pivot_df.index)

5
10
50
100
200
500

In [65]:
for k, clustering in elbow_dict.items():
    print(clustering['inertia'])

39282887.116419956
36456133.44415126
31997079.132014535
30295914.351647645
28679506.336334243
26367649.15034368

In [66]:
inertia = pd.Series([clustering['inertia'] for k, clustering in elbow_dict.items()], index=elbow_dict.keys())
sns.lineplot(x=inertia.index, y=inertia)

In [67]:
elbow_dict[100]['user_cluster'].value_counts()

87    3840
41    2218
55    1817
20    1703
63    1670
      ...
36      74
56      60
45      59
88      38
77       1
Length: 100, dtype: int64

In [68]:
elbow_dict[500]['user_cluster'].value_counts()

336    2090
15     1384
179     850
362     765
297     747
       ...
462       1
356       1
435       1
209       1
487       1
Length: 500, dtype: int64

In [69]:
from sklearn.neighbors import NearestNeighbors

In [70]:
nbrs = NearestNeighbors(n_neighbors=5)
nbrs.fit(jester_ratings_pivot_df.fillna(0))

NearestNeighbors()

In [71]:
jester_ratings_pivot_df.fillna(0).loc[[1]]

jokeId,5,7,8,13,15,16,17,18,19,20,...,141,142,143,144,145,146,147,148,149,150
userId,,,,,,,,,,,,,,,,,,,,,
1,0.219,-9.281,-9.281,-6.781,0.875,-9.656,-9.031,-7.469,-8.719,-9.156,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [72]:
dist, neighbours = nbrs.kneighbors(jester_ratings_pivot_df.fillna(0).loc[[1]])
neighbours[0].tolist()

[0, 44456, 100, 4214, 51129]

In [73]:
neighbours_ratings = jester_ratings_pivot_df.iloc[neighbours[0].tolist()[1:]]
neighbours_ratings

jokeId,5,7,8,13,15,16,17,18,19,20,...,141,142,143,144,145,146,147,148,149,150
userId,,,,,,,,,,,,,,,,,,,,,
47727,NaN,-5.938,-5.938,-6.188,-8.594,-7.844,-8.031,-7.562,-7.750,NaN,...,NaN,NaN,6.438,NaN,5.594,NaN,NaN,NaN,NaN,NaN
114,8.438,-5.594,-3.344,-3.750,2.594,-8.312,-5.469,-4.469,-2.531,-3.969,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4641,NaN,-4.531,-6.188,-2.375,-2.750,-1.938,-5.250,-3.625,1.156,NaN,...,NaN,NaN,NaN,6.031,NaN,NaN,NaN,7.125,6.719,NaN
55103,NaN,-6.875,-6.875,-6.875,-5.750,-5.719,-5.719,-5.719,-5.719,NaN,...,NaN,NaN,2.375,NaN,5.125,NaN,NaN,1.625,4.156,2.375

In [74]:
approriate_jokes = neighbours_ratings.mean()[neighbours_ratings.mean()>7].index.tolist()
approriate_jokes

[5, 27, 29, 50, 69, 105, 121, 122, 123, 125]

In [75]:
recommended_jokes = jester_ratings_pivot_df.loc[1,approriate_jokes]
recommended_jokes

jokeId
5      0.219
27     8.781
29     8.781
50     9.906
69     8.688
105    2.000
121    8.781
122      NaN
123    8.781
125      NaN
Name: 1, dtype: float64

In [76]:
recommended_jokes[recommended_jokes.isna()].index.tolist()

[122, 125]

In [77]:
for joke in jester_jokes_df[jester_jokes_df.jokeId.isin(recommended_jokes[~recommended_jokes.isna()].index.tolist())].jokeText:
    print(joke)
    print('---')

Q.	What's O. J. Simpson's Internet address?
A.	Slash, slash, backslash, slash, slash, escape.

---
Clinton returns from a vacation in Arkansas and walks down  the
steps of Air Force One with two pigs under his arms.  At the bottom
of the steps, he says  to the honor guardsman, "These are genuine
Arkansas Razor-Back Hogs.  I got this one for Chelsea and this one for
Hillary."

The guardsman replies, "Nice trade, Sir."

---
An old Scotsmen is sitting with a younger Scottish gentleman and says the boy.
"Ah, lad look out that window. You see that stone wall there, I built it with
me own bare hands, placed every stone meself.  But do they call me MacGregor the
wall builder? No!

He Takes a few sips of his beer then says, "Aye, and look out on that lake and
eye that beautiful pier. I built it meself, laid every board and hammered each
nail but do they call me MacGregor the pier builder? No!

He continues..."And lad, you see that road? That too I build with me own bare
hands. Laid every inch of pavement meself, but do they call MacGregor the road
builder? No!"

Again he returns to his beer for a few sips, then says,
"Agh, but you screw one sheep..."

---
A guy goes into confession and says to the priest, "Father, I'm 80 years
old, widower, with 11 grandchildren. Last night I met two beautiful flight
attendants. They took me home and I made love to both of them. Twice."

The priest said: "Well, my son, when was the last time you were in
confession?"
 "Never Father, I'm Jewish."
 "So then, why are you telling me?"
 "I'm telling everybody."

---
This guys wife asks, "Honey if I died would you remarry?" and he replies,
"Well, after a considerable period of grieving, we all need
companionship, I guess I would."

She then asks, "If I died and you remarried, would she live in this
house?" and he replies, "We've spent a lot of time and money getting this
house just the way we want it. I'm not going to get rid of my house, I
guess she would."

"If I died and you remarried, and she lived in this house, would she
sleep in our bed?" and he says, "That bed is brand new, we just paid two
thousand dollars for it, it's going to last a long time, I guess she
would."

So she asks, "If I died and you remarried, and she lived in this house,
and slept in our bed, would she use my golf clubs?"

"Oh no, she's left handed."

---
A couple of hunters are out in the woods in the deep south when one of them falls to the ground. He doesn't seem to be breathing, and his eyes are rolled back in his head. The other guy whips out his cell phone and calls 911. He gasps to the operator, "My friend is dead! What can I do?" The operator, in a calm and soothing voice, says, "Alright, take it easy. I can help. First, let's make sure he's dead." There is silence, and then a gun shot is heard. The hunter comes back on the line. "Okay. Now what??"
---
A drunk staggers into a Catholic Church, enters a confessional booth, sits down, but says nothing. The Priest coughs a few times to get his attention but the drunk just sits there. Finally, the Priest pounds three times on the wall. The drunk mumbles, "Ain't no use knockin, there's no paper on this side either."
---
When most people claim to be "killing time", it's only an expression. When Chuck Norris kills time, the minutes actually cease to exist.
---

In [78]:
for joke in jester_jokes_df[jester_jokes_df.jokeId.isin(recommended_jokes[recommended_jokes.isna()].index.tolist())].jokeText:
    print(joke)
    print('---')

An astronomer, a physicist and a mathematician (it is said) were holidaying in Scotland. Glancing from a train window, they observed a black sheep in the middle of a field. "How interesting," observed the astronomer, "All Scottish sheep are black!" To which the physicist responded, "No, no! Some Scottish sheep are black!" The mathematician gazed heavenward in supplication, and then intoned, "In Scotland there exists at least one field, containing at least one sheep, at least one side of which is black."
---
An American tourist goes into a restaurant in Spain and orders the specialty of the house. When his dinner arrives, he asks the waiter what it is. "These, senor," replied the waiter in broken English, "are the testicles of the bull killed in the ring today." The tourist swallowed hard but tasted the dish and thought it was delicious. So he comes back the next evening and orders the same item. When it is served, he says to the waiter, "These testicles...are much smaller than the ones I had last night." "Yes, senor," replied the waiter, "You see...the bull, he does not always lose.
---