## Pivot

In [1]:
import pandas as pd

In [2]:
rating_df = pd.read_csv('./data/cuisine/rating_final.csv')

In [3]:
rating_df

     userID  placeID  rating  food_rating  service_rating
0     U1077   135085       2            2               2
1     U1077   135038       2            2               1
2     U1077   132825       2            2               2
3     U1077   135060       1            2               2
4     U1068   135104       1            1               2
...     ...      ...     ...          ...             ...
1156  U1043   132630       1            1               1
1157  U1011   132715       1            1               0
1158  U1068   132733       1            1               0
1159  U1068   132594       1            1               1
1160  U1068   132660       0            0               0

[1161 rows x 5 columns]

In [4]:
geo_df = pd.read_csv('./data/cuisine/geoplaces2.csv').set_index('placeID')

In [9]:
merged_rating_df = pd.merge(rating_df, geo_df, on='placeID')
merged_rating_df

,userID,placeID,rating,food_rating,service_rating,latitude,longitude,the_geom_meter,name,address,...,alcohol,smoking_area,dress_code,accessibility,price,url,Rambience,franchise,area,other_services
0,U1077,135085,2,2,2,22.150802,-100.982680,0101000020957F00009F823DA6094858C18A2D4D37F9A4...,Tortas Locas Hipocampo,Venustiano Carranza 719 Centro,...,No_Alcohol_Served,not permitted,informal,no_accessibility,medium,?,familiar,f,closed,none
1,U1108,135085,1,2,1,22.150802,-100.982680,0101000020957F00009F823DA6094858C18A2D4D37F9A4...,Tortas Locas Hipocampo,Venustiano Carranza 719 Centro,...,No_Alcohol_Served,not permitted,informal,no_accessibility,medium,?,familiar,f,closed,none
2,U1081,135085,1,2,1,22.150802,-100.982680,0101000020957F00009F823DA6094858C18A2D4D37F9A4...,Tortas Locas Hipocampo,Venustiano Carranza 719 Centro,...,No_Alcohol_Served,not permitted,informal,no_accessibility,medium,?,familiar,f,closed,none
3,U1056,135085,2,2,2,22.150802,-100.982680,0101000020957F00009F823DA6094858C18A2D4D37F9A4...,Tortas Locas Hipocampo,Venustiano Carranza 719 Centro,...,No_Alcohol_Served,not permitted,informal,no_accessibility,medium,?,familiar,f,closed,none
4,U1134,135085,2,1,2,22.150802,-100.982680,0101000020957F00009F823DA6094858C18A2D4D37F9A4...,Tortas Locas Hipocampo,Venustiano Carranza 719 Centro,...,No_Alcohol_Served,not permitted,informal,no_accessibility,medium,?,familiar,f,closed,none
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1156,U1061,132958,2,2,2,22.144979,-101.005683,0101000020957F000049095EB34A4858C15CB4BD1EE1AB...,tacos los volcanes,avenida hivno nacional,...,No_Alcohol_Served,none,informal,completely,low,?,quiet,t,closed,none
1157,U1025,132958,1,0,0,22.144979,-101.005683,0101000020957F000049095EB34A4858C15CB4BD1EE1AB...,tacos los volcanes,avenida hivno nacional,...,No_Alcohol_Served,none,informal,completely,low,?,quiet,t,closed,none
1158,U1097,132958,2,1,1,22.144979,-101.005683,0101000020957F000049095EB34A4858C15CB4BD1EE1AB...,tacos los volcanes,avenida hivno nacional,...,No_Alcohol_Served,none,informal,completely,low,?,quiet,t,closed,none
1159,U1096,132958,1,2,2,22.144979,-101.005683,0101000020957F000049095EB34A4858C15CB4BD1EE1AB...,tacos los volcanes,avenida hivno nacional,...,No_Alcohol_Served,none,informal,completely,low,?,quiet,t,closed,none
1160,U1136,132958,2,2,2,22.144979,-101.005683,0101000020957F000049095EB34A4858C15CB4BD1EE1AB...,tacos los volcanes,avenida hivno nacional,...,No_Alcohol_Served,none,informal,completely,low,?,quiet,t,closed,none

In [10]:
merged_rating_df.pivot(index='alcohol', columns='smoking_area', values='rating')

ValueError: Index contains duplicate entries, cannot reshape

In [14]:
merged_rating_df.groupby(['alcohol','smoking_area']).mean().reset_index().pivot(index='alcohol', columns='smoking_area', values='rating')

smoking_area           none  not permitted  only at bar  permitted   section
alcohol
Full_Bar           1.305556       0.857143          NaN   1.500000  1.272727
No_Alcohol_Served  1.186788       1.124402          NaN   1.114286  1.265823
Wine-Beer          1.217391       1.000000     1.368421   1.300000  1.275000

In [15]:
merged_rating_df.groupby(['alcohol','smoking_area']).count().reset_index().pivot(index='alcohol', columns='smoking_area', values='rating')

smoking_area        none  not permitted  only at bar  permitted  section
alcohol
Full_Bar            36.0            7.0          NaN        4.0     33.0
No_Alcohol_Served  439.0          209.0          NaN       35.0     79.0
Wine-Beer          161.0            9.0         19.0       10.0    120.0

In [16]:
geo_df.columns

Index(['latitude', 'longitude', 'the_geom_meter', 'name', 'address', 'city',
       'state', 'country', 'fax', 'zip', 'alcohol', 'smoking_area',
       'dress_code', 'accessibility', 'price', 'url', 'Rambience', 'franchise',
       'area', 'other_services'],
      dtype='object')

In [20]:
merged_rating_df.groupby(['city','smoking_area']).mean().reset_index().pivot(index='city', columns='smoking_area', values='rating')

smoking_area          none  not permitted  only at bar  permitted   section
city
?                 1.052632       1.000000          NaN   1.833333  1.300000
Cd Victoria       0.625000            NaN          NaN        NaN       NaN
Cd. Victoria           NaN       0.750000          NaN        NaN       NaN
Ciudad Victoria        NaN       1.300000          NaN   0.750000       NaN
Cuernavaca        1.411765       1.157895     1.555556   1.500000  1.000000
Jiutepec          1.461538            NaN          NaN   1.166667       NaN
San Luis Potosi   1.211494       1.168317     1.200000        NaN  1.273743
Soledad           1.058824            NaN          NaN        NaN       NaN
cuernavaca             NaN       1.600000          NaN        NaN       NaN
s.l.p                  NaN       0.916667          NaN        NaN       NaN
s.l.p.            1.281250            NaN          NaN        NaN       NaN
san luis potos    2.000000            NaN          NaN        NaN       NaN
san luis potosi   1.272727       1.000000          NaN        NaN  1.500000
san luis potosi        NaN            NaN          NaN   1.400000       NaN
slp               1.166667            NaN          NaN        NaN       NaN
victoria          1.000000       0.600000          NaN   0.937500       NaN
victoria          0.750000            NaN          NaN        NaN       NaN